
header nav {
	list-style-type: none;
	text-align: center;
}

header nav a {
	display: inline-block;
	margin: 5px 10px;
}

.page-content {
	max-width: 800px;
	margin: auto;
	margin-top: 60px;
}

.main {
	width: 40%;
	clear: both;
	margin-top: 50px;
	padding-top: 10px;
}

img {
	width: 30%;
	float: left;
	margin: 0% 2.5%;
}

header img {
	float: left;
	width: 15%;
}

h2 {
	width: 65%;
	padding-left: 260px;
	margin: 0% 2.5%;
}

h1{
	padding-left: 300px;
	margin: .5em 0 1em;
}

.text {
	float: left;
	padding-left: 30px;

}

.about-nysl img {
	width: 15%;
	padding-left: 2px;
	padding-top: 100px;
	margin: 0% 2.5%;
	
}

.about-nysl p {
	margin: .5em 0 1em;
}

